[user]
	name = Taylor Blau
	email = me@ttaylorr.com
	signingKey = "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDyjHYt84RJv7KFrVFEfW2Sx2Em+DSQ9PjWFrDEfMgV/XLOIi8+2JG0Yo0B0VqgiLZx0ofe33u6XYV/QpIRvlPih4i7ejyqnDbuGX6aeC2YrWMFXgrAci/Hh77V683hLqMpc9jT77rg8vtwQIVQZtF/DM46j/RAL8PgXef+xG6ykGeOz/Rhsjrg0hxG8ZgMSqINUxUzc7O0sNtyJWtupkc44rDGRqYwsllv8D+cSNdv4gIt0RzoO4Cxn5V4tDH/NfICTqesbKNRcVcxS5HntQJL2WIr6TP1vnmqDRbmj1Z2Mi9ikeaO9h86mMAQRoaaq036RpvPnFEcU0Ji0SABhsWv"
[advice]
	addIgnoredFile = false
	detachedHead = false
[alias]
	a = add
	aa = add --all
	always = "!git rev-parse 2>/dev/null || cd ~/github/git; git"
	br = branch
	ci = commit
	co = checkout
	cp = cherry-pick
	di = diff
	lb = checkout -
	lg = log --oneline --no-decorate
	ll = "!git always --no-pager log -1 --pretty=reference"
	midx = multi-pack-index
	pp = print-patch
	seq = sequence
	st = status
	w = "!tig"
	vgrep = jump grep
	vdiff = jump diff
	vmerge = jump merge
[branch]
	autosetuprebase = always
[commit]
	verbose = true
[core]
	excludesfile = ~/.gitignore
	pager = less -+F
[diff]
	compactionHeuristic = true
	algorithm = patience
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = "~/.ssh/allowed_signers"
[init]
	defaultBranch = main
[merge]
	conflictstyle = diff3
[pull]
	default = current
	rebase = true
[push]
	default = current
[rerere]
  enabled = 1
  autoupdate = 1
[tig]
	blame-view-author-display = email-user
	blame-view-date-display = relative
	blame-view-file-name-display = no
	line-graphics = utf-8
	main-view-id = yes
	main-view-id-width = 10
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
