# --------------------- #
# Global .gitignore
# --------------------- #

# --------------------- #
# OS X file clutter
# --------------------- #
.DS_Store

# --------------------- #
# Sublime
# --------------------- #
*.sublime-workspace

# --------------------- #
# Java Stuff
# --------------------- #
*.class
*.jar
*.ear
*.war

# --------------------- #
# Maven clutter
# --------------------- #
dependency-reduced-pom.xml

# --------------------- #
# IntelliJ clutter
# --------------------- #
*.iml
.idea/

# --------------------- #
# Ignore vim files
# --------------------- #
*.swp

# --------------------- #
# Python
# --------------------- #
*.pyc

# --------------------- #
# Ruby
# --------------------- #
*.gem
*.rbc
/.yardoc/
/_yardoc/
/doc/
/rdoc/

# --------------------- #
# Node.js
# --------------------- #
node_modules/
.nodemon-find-ref

# --------------------- #
# Redis
# --------------------- #
*.rdb

# --------------------- #
# Microsoft Office
# --------------------- #
~\$*.docx

/patch/
