[submodule "vim/pack/ttaylorr/start/neocomplcache.vim"]
	path = vim/pack/ttaylorr/start/neocomplcache.vim
	url = https://github.com/Shougo/neocomplcache.vim.git
[submodule "vim/pack/ttaylorr/start/editorconfig-vim"]
	path = vim/pack/ttaylorr/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "vim/pack/ttaylorr/start/vim-multiple-cursors"]
	path = vim/pack/ttaylorr/start/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "vim/pack/ttaylorr/start/ctrlp.vim"]
	path = vim/pack/ttaylorr/start/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "vim/pack/ttaylorr/start/whitespaste.vim"]
	path = vim/pack/ttaylorr/start/whitespaste.vim
	url = https://github.com/AndrewRadev/whitespaste.vim.git
[submodule "vim/pack/ttaylorr/start/vim-gitgutter"]
	path = vim/pack/ttaylorr/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim/pack/ttaylorr/start/vim-go"]
	path = vim/pack/ttaylorr/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim/pack/ttaylorr/start/vim-markdown"]
	path = vim/pack/ttaylorr/start/vim-markdown
	url = https://github.com/plasticboy/vim-markdown
[submodule "vim/pack/ttaylorr/start/base16-vim"]
	path = vim/pack/ttaylorr/start/base16-vim
	url = https://github.com/fnune/base16-vim
