[submodule "tmux/tpm"]
	path = tmux/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "vim/pack/ttaylorr/start/neocomplcache.vim"]
	path = vim/pack/ttaylorr/start/neocomplcache.vim
	url = https://github.com/Shougo/neocomplcache.vim.git
[submodule "vim/pack/ttaylorr/start/editorconfig-vim"]
	path = vim/pack/ttaylorr/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "vim/pack/ttaylorr/start/vim-go"]
	path = vim/pack/ttaylorr/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim/pack/ttaylorr/start/vim-signature"]
	path = vim/pack/ttaylorr/start/vim-signature
	url = https://github.com/kshenoy/vim-signature.git
[submodule "vim/pack/ttaylorr/start/gocode"]
	path = vim/pack/ttaylorr/start/gocode
	url = https://github.com/nsf/gocode.git
[submodule "vim/pack/ttaylorr/start/vim-mkdir"]
	path = vim/pack/ttaylorr/start/vim-mkdir
	url = https://github.com/pbrisbin/vim-mkdir.git
[submodule "vim/pack/ttaylorr/start/rust.vim"]
	path = vim/pack/ttaylorr/start/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "vim/pack/ttaylorr/start/nerdtree"]
	path = vim/pack/ttaylorr/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/pack/ttaylorr/start/vim-multiple-cursors"]
	path = vim/pack/ttaylorr/start/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "vim/pack/ttaylorr/start/vim-endwise"]
	path = vim/pack/ttaylorr/start/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "vim/pack/ttaylorr/start/vim-github"]
	path = vim/pack/ttaylorr/start/vim-github
	url = https://github.com/ttaylorr/vim-github.git
[submodule "vim/pack/ttaylorr/start/vim-colors_atelier-schemes"]
	path = vim/pack/ttaylorr/start/vim-colors_atelier-schemes
	url = https://github.com/atelierbram/vim-colors_atelier-schemes
[submodule "vim/pack/ttaylorr/start/vim-tmux-navigator"]
	path = vim/pack/ttaylorr/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "vim/pack/ttaylorr/start/ack.vim"]
	path = vim/pack/ttaylorr/start/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/pack/ttaylorr/start/vim-pandoc-syntax"]
	path = vim/pack/ttaylorr/start/vim-pandoc-syntax
	url = https://github.com/vim-pandoc/vim-pandoc-syntax.git
[submodule "vim/pack/ttaylorr/start/vim-pandoc"]
	path = vim/pack/ttaylorr/start/vim-pandoc
	url = https://github.com/vim-pandoc/vim-pandoc.git
[submodule "vim/pack/ttaylorr/start/vim-racer"]
	path = vim/pack/ttaylorr/start/vim-racer
	url = https://github.com/racer-rust/vim-racer.git
[submodule "vim/pack/ttaylorr/start/ctrlp.vim"]
	path = vim/pack/ttaylorr/start/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "vim/pack/ttaylorr/start/gundo.vim"]
	path = vim/pack/ttaylorr/start/gundo.vim
	url = https://github.com/sjl/gundo.vim
[submodule "vim/pack/ttaylorr/start/vim-puppet"]
	path = vim/pack/ttaylorr/start/vim-puppet
	url = https://github.com/rodjek/vim-puppet
[submodule "vim/pack/ttaylorr/start/tagbar"]
	path = vim/pack/ttaylorr/start/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "vim/pack/ttaylorr/start/vim-better-sml"]
	path = vim/pack/ttaylorr/start/vim-better-sml
	url = https://github.com/jez/vim-better-sml.git
[submodule "vim/pack/ttaylorr/start/vim-loves-dafny"]
	path = vim/pack/ttaylorr/start/vim-loves-dafny
	url = https://github.com/mlr-msft/vim-loves-dafny.git
[submodule "vim/pack/ttaylorr/start/whitespaste.vim"]
	path = vim/pack/ttaylorr/start/whitespaste.vim
	url = https://github.com/AndrewRadev/whitespaste.vim.git
